<section class="man-shoes-product-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 man-shoes-product-img">
        {{ product.field_shoesimage }}
        {{ product.variation_price }}
      </div>
      <div class="col-md-6 man-shoes-product-details">
        {{ product.field_brand }}
        {{ product.field_color }}
        {{ product.field_gender }}
        {{ product.field_size }}
        {{ product.body }}
        {{ product.variations }}
      </div>
    </div>
  </div>
</section>

